body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: #dcf2fd;
}
img {
  border-radius: 50%;
}
h1 {
  font-size: 100px;
  font-family: "Anton", sans-serif;
}
h2 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  margin: 30px;
}
ul {
  font-size: 20px;
}
.CONTACT {
  background-color: #5ec8fd;
  border-style: double;
}
