body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #e7e7e7;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.pp {
  max-width: 50%;
  height: fit-content;
}

header,
section,
footer {
  margin: 20px;
  padding: 20px;
}
header {
  display: flex;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0px 75px;
}

header h1 {
  font-family: "Anton", sans-serif;
  margin-bottom: 30px;
  font-size: 5rem;
}

.profil,
.experience,
.competences,
.divers,
.comp, /* j'ai rajouté la class .comp pour rajouté un contour blanc au "compétences" */
.formation {
  background: #fff;
  margin-top: 20px; /* permet de réguler l'écart entres paragraphes*/
}

h2 {
  font-family: "Anton", sans-serif;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333; /* permet de rajouter des traits en dessous et sur le côté des h2*/
}

article {
  margin-top: 20px;
}

.date {
  font-style: italic;
  color: #666; /* j'ai créer une class pour ne modifier que les dates*/
}

footer {
  text-align: center;
  background: #333;
  color: black;
  padding: 30px 30px;
}

footer a {
  color: blue;
  text-decoration: underline;
  /* permet de mieux voir les liens */
}

ul {
  list-style: none;
}
/* permet de retirer les points*/

ul li {
  background: #e7e7e7;
  margin-bottom: 10px; /* permet de séparer chaque lien*/
  padding: 5px;
  border-radius: 5px; /* permet d'arrondir les rectangles */
}
.competences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: first baseline;
}
/* Styles pour les téléphones */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  /* Autres styles spécifiques aux téléphones */
}

/* Styles pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }
  /* Autres styles spécifiques aux tablettes */
}

/* Styles pour les ordinateurs de bureau */
@media (min-width: 1025px) {
  .container {
    width: 60%;
  }
  /* Autres styles spécifiques aux ordinateurs de bureau */
}
