body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #e7e7e7;
}
header,
section,
footer {
  margin: 20px;
  padding: 20px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 0px 0px;
}

header h1 {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
}

.profil,
.experience,
.competences,
.divers,
.comp, /* j'ai rajouté la class .comp pour rajouté un contour blanc au "compétences" */
.formation {
  background: #fff;
  margin-top: 20px; /* permet de réguler l'écart entres paragraphes*/
}

h2 {
  font-family: "Anton", sans-serif;
  color: #333;
  padding-bottom: 10px;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333; /* permet de rajouter des traits en dessous et sur le côté des h2*/
}

article {
  margin-top: 20px;
}

.date {
  font-style: italic;
  color: #666; /* j'ai créer une class pour ne modifier que les dates*/
}

footer {
  text-align: center;
  background: #333;
  color: black;
  padding: 30px 30px;
}

footer a {
  color: blue;
  text-decoration: underline;
  /* permet de mieux voir les liens */
}

ul {
  list-style: none;
}
/* permet de retirer les points*/

ul li {
  background: #e7e7e7;
  margin-bottom: 10px; /* permet de séparer chaque lien*/
  padding: 5px;
  border-radius: 5px; /* permet d'arrondir les rectangles */
}
.competences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: first baseline;
}
